[submodule ".sources/yay"]
	path = .sources/yay
	url = https://aur.archlinux.org/yay
[submodule ".sources/dwm-flexipatch"]
	path = .sources/dwm-flexipatch
	url = https://github.com/bakkeby/dwm-flexipatch
[submodule ".sources/st"]
	path = .sources/st
	url = https://aur.archlinux.org/st
[submodule ".sources/libxft-bgra"]
	path = .sources/libxft-bgra
	url = https://github.com/uditkarode/libxft-bgra
